body {
    height: 100%;
    background-color: #eee;
    color: #3C4858;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.banner {
    height: 380px;
    background: url(assets/coding-hands.jpg);
    transform: translate3d(0px, 0px, 0px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

main {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding: 0px 16px;
    text-align: center;
    background: #FFFFFF;
        z-index: 2;
}

.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    height: 85px;
}

.avatar img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.rounded-circle {
    border-radius: 50% !important;
}

.content {
    font-family: "Roboto Slab", "Times New Roman", serif;
    padding-bottom: 32px;
}

h3 {
    font-size: 1.5625rem;
    line-height: 1.4em;
    color:#3C4858;
    text-decoration: none;
    font-weight: 700;
}

h6 {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
}

.icons > a {
    text-decoration: none;
}

.icons > a > i {
    position: relative;
    padding: 12px 30px;
    margin: 0.3125rem 1px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: 0.2rem;
    outline: 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow, transform;

    font-size: 24px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
    
    color: #999999;
    
}
